.about-checkboxes
	margin-bottom 60px

	&__title-wrapper
		margin-bottom 8px

	&__subtitle-wrapper
		margin-bottom 29px

	&__checkbox-wrapper
		display flex

	&__item:not(:last-child)
		margin-bottom 10px

	&__column:nth-child(2)
		padding-right 40px
		padding-left 38px
