.about-checkboxes
	padding-top 66px
	display block

	&__subtitle-wrapper
		padding-top 8px

	&__checkbox-wrapper
		padding-top 29px
		display flex

	&__item:not(:first-child)
		padding-top 10px

	&__column:nth-child(2)
		padding-right 41px
		padding-left 39px
