.about-words
	padding-top 33px
	display block

	&__title-wrapper
		padding-left 2px

	&__subtitle-wrapper
		padding-top 11px
		padding-left 3px

	&__textarea-wrapper
		padding-top 46px

	&__textarea
		width 100%
		background url(../images/about-words/line.png)
		// background-position center 21px
		background-repeat repeat-x // @stylint ignore
		border-style none
