.about-words
	padding-top 33px
	display block

	&__title-wrapper
		padding-left 2px

	&__subtitle-wrapper
		padding-top 11px
		padding-left 3px

	&__textarea-wrapper
		padding-top 28px

	&__textarea
		padding-left 4px
		overflow hidden
		width 100%
		min-height 151px
		font-family 'Courier New'
		font-size 30px
		line-height 58px
		color #231f20
		background url(../images/about-words/line.png)
		background-position center 16px
		border-style none
		outline none

		&::placeholder
			font-family 'Courier New'
			font-size 30px
			font-weight 400
			color #231f20
			// opacity 1
