include ../heading/heading
include ../subheading/subheading

mixin about-words(data)
	+b('section').about-words&attributes(attributes)
		+e.title-wrapper
			+heading=data.heading

		+e.subtitle-wrapper
			+subheading=data.subheading

		+e.textarea-wrapper
			+e('textarea').textarea(
				rows="3"
				id='textarea'
				name=data.name
				placeholder="Ну-ууу-уу...\nЭэээ..."
				)
