include ../radio-button/radio-button

mixin future-plans(data)
	+b('section').future-plans&attributes(attributes)
		+heading=data.heading

		+e.subtitle-wrapper
			+subheading=data.subheading

		+e.buttons-wrapper
			each variant in data.variants
				+e.item-wrapper
					+radio-button(variant)
