@font-face
	font-family 'PT Sans'
	src url('../fonts/woff2/PTSans-Regular.woff2') format('woff2'),
		url('../fonts/woff/PTSans-Regular.woff') format('woff'),
		url('../fonts/ttf/PTSans-Regular.ttf') format('truetype')
	font-weight normal
	font-style normal

@font-face
	font-family 'PT Sans'
	src url('../fonts/woff2/PTSans-Bold.woff2') format('woff2'),
		url('../fonts/woff/PTSans-Bold.woff') format('woff'),
		url('../fonts/ttf/PTSans-Bold.ttf') format('truetype')
	font-weight 700
	font-style normal

@font-face
	font-family 'Courier New'
	src url('../fonts/woff2/CourierNew-Regular.woff2') format('woff2'),
		url('../fonts/woff/CourierNew-Regular.woff') format('woff'),
		url('../fonts/ttf/CourierNew-Regular.ttf') format('truetype')
	font-weight normal
	font-style normal
