extends /blocks/layout-default/layout-default

include ../blocks/container/container
include ../blocks/header/header
include ../blocks/content-wrapper/content-wrapper
include ../blocks/case/case
include ../blocks/personal-data/personal-data
include ../blocks/about-checkboxes/about-checkboxes
include ../blocks/javascript-level/javascript-level
include ../blocks/about-words/about-words
include ../blocks/future-plans/future-plans
include ../blocks/footer/footer

block head
	- var pageTitle = 'CSSSR - Тестовое задание';

block content
	+container
		+header
		+content-wrapper
			+case
			+personal-data(getData('/personal-data'))
			+about-checkboxes(getData('/about-checkboxes'))
			+javascript-level(getData('/javascript-level'))
			+about-words(getData('/about-words'))
			+future-plans(getData('/future-plans'))
		+footer
