.radio-button
	display block

	&__input
		visibility hidden
		&:checked + label:after
			visibility visible
			opacity 1

	&__label
		position relative
		padding-right 22px
		padding-left 14px
		font-family 'PT Sans'
		font-size 20px
		font-weight 700
		color $black

		&:before
			position absolute
			top -9px
			left -25px
			cursor pointer
			content ''
			sprite $radio_button

		&:after
			position absolute
			left -16px
			content ''
			sprite $radio_button_active
			visibility hidden
			opacity 0
			transition opacity .3s, visibility .3s
