.javascript-level
	padding-top 60px
	display block

	&__title-wrapper
		padding-left 2px

	&__slider
		margin-top 40px
		width 100%
		background-image url(../images/javascript-level/slider.png)
		background-repeat no-repeat

	&>&__slider // перебиваем стили slider, чтобы не делать каскад
		height 28px

	&>&__slider>&__slider-handle // перебиваем стили handle с той же целью
		margin-top -10px
		margin-left -.4em
		sprite $arrow

	&__input
		display none

	&__levels
		padding-top 4px
		display flex
		justify-content space-between

	&__level
		font-family 'PT Sans'
		font-size 13px
		font-weight 700
		line-height 19px
		color $dark-red

	&__level:nth-child(1)
		padding-top 2px
		padding-left 1px

	&__level:nth-child(2)
		padding-left 22px

	&__level:nth-child(3)
		padding-right 29px

	&__level:nth-child(4)
		padding-top 7px
