mixin javascript-level(data)
	+b.javascript-level&attributes(attributes)
		+e.title-wrapper
			+heading=data.heading
				
		+e.slider
		+e.levels
			each item in data.levels
				+e('p').level!=item.text.replace(/\n/g, '<br>')
