.header
	padding-right 54px
	padding-left 112px
	display flex
	justify-content space-between

	&__logo
		margin-top 62px
		margin-left 1px
		width 154px
		height 52px

	&__stamp
		margin-top 48px
		margin-right -1px
		width 252px
		height 106px
