.header
	padding-right 54px
	padding-left 112px
	display flex
	justify-content space-between

	&__logo
		margin-top 62px
		width 154px
		height 52px
		background-image url(../images/header/logo.png)
		background-repeat no-repeat

	&__secretly
		margin-top 48px
		width 252px
		height 106px
		background-image url(../images/header/secret.png)
		background-repeat no-repeat
