include ../logo/logo

mixin header(data)
	- data = data || {};

	+b('header').header&attributes(attributes)
		+e.logo-wrapper
			+logo(getData('/logo'))

		+e('img').stamp(
			src=data.image
			title=data.title
			alt=data.title
			)
