.personal-data
	padding-top 48px
	display flex
	flex-direction column

	&__item
		&:not(:first-child)
			padding-top 10px

		&:nth-child(2)
			padding-top 8px

		&:nth-child(3),
		&:nth-child(5)
			padding-top 11px
